<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发布闲置</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <script src="__STATIC__/js/jquery-1.12.3.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__STATIC__/js/bootstrap.min.js"></script>
</head>
<body>
<h1>发布闲置</h1>
</body>
</html>