<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--bootstrap css-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--angular JS-->
    <!--<script src="__STATIC__/js/angular.js"></script>-->

    <!-- jQuery -->
    <script src="__STATIC__/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
    <!--cookie JS-->
    <script src="__STATIC__/js/jquery.cookie.js"></script>

    <!--上传图片-->
    <link href="__STATIC__/css/cropper.min.css" rel="stylesheet">
    <link href="__STATIC__/css/sitelogo.css" rel="stylesheet">
    <script src="__STATIC__/js/cropper.min.js"></script>
    <script src="__STATIC__/js/sitelogo.js"></script>

    <!--个人设置-->
    <!--<link rel="stylesheet" href="__STATIC__/css/personal_center.css">-->
    <!--<link rel="stylesheet" href="__STATIC__/css/bootstrap_button.css">-->
    <!--<script src="__STATIC__/js/verify.js"></script>-->
    <style>

        /*限制a连接出现下划线*/
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
        }
        body{
            margin:0;
            padding:0;
        }
        li{
            list-style: none;
        }
        .flew1{
            display: flex;
            /*-webkit-flex 为了兼容性*/
            display: -webkit-flex;
            /*flex-direction:row;*/
            justify-content:  space-between;
        }

        .flew2{
            flex: 1;
        }

        .flew3{
            display: flex;
            flex-wrap: wrap;
           justify-content: space-around;
        }

        /*type="file" 样式*/
        .a-upload {
            text-align: center;
            padding: 4px 10px;
            height: 30px;
            line-height: 20px;
            position: relative;
            cursor: pointer;
            color: #888;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            *display: inline;
            *zoom: 1
        }

        .a-upload  input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }

        .a-upload:hover {
            color: #444;
            background: #eee;
            border-color: #ccc;
            text-decoration: none
        }
        @media (min-width: 768px) {


        }
        @media(max-width:768px ){
        }
    </style>
</head>
<body >

    <div id="messageData">
        <myhead></myhead>
        <!--初次人脸认证-->
        <div class="modal fade " id="myID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
            <div class="modal-dialog" style="width: 30%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" >人脸识别</h4>
                    </div>
                    <div class="modal-body">认证信息提交完毕，请等待十几秒核对信息过程</div>
                    <div>
                        <img style="width: 100px;height: 100px;" class="image" src="" alt="">
                        <img style="width: 100px;height: 100px;" class="image" src="" alt="">
                    </div>
                    <form id="form" action="{:url('home/Index/changeBase64')}" >
                        <div class="a-upload">
                            <label for="avatarInput">生活照</label>
                            <input type="file" index="0" onchange="readFile(this)" class="input " />
                        </div>
                       <div class="a-upload">
                           <label for="avatarInput">身份证正面照</label>
                           <input type="file" index="1" onchange="readFile(this)" class="input" />
                       </div>
                        <input type="text" name="image1" class="result" style="display:none" />
                        <input type="text" name="image2" class="result" style="display:none" />
                        <div class="a-upload">
                            <label for="avatarInput">提交认证</label>
                            <input type="button" value="提交"  id="submit" class="btn btn-default ">
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!--头像上传-->
        <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="avatar-form" action="{:url('index/Personal/upload')}"
                          enctype="multipart/form-data" method="post" >
                        <div class="modal-hcloseeader">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="avatar-body">
                                <div class="avatar-upload a-upload">
                                    <input  class="avatar-src" name="avatar_src" type="hidden">
                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                    <label for="avatarInput">图片上传</label>
                                    <input class="avatar-input" id="avatarInput" name="image" type="file">
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="avatar-wrapper"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="avatar-preview preview-lg"></div>
                                        <div class="avatar-preview preview-md"></div>
                                        <div class="avatar-preview preview-sm"></div>
                                    </div>
                                </div>
                                <div class="row avatar-btns">
                                    <div class="col-md-3">
                                        <button class="btn btn-success btn-block avatar-save" type="submit"><i
                                                class="fa fa-save" ></i> 保存修改</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!--绑定手机号-->

    </div>
</body>
<script>
    var vueObj=new Vue();
    Vue.component('myhead',{
            template:'<div class="container">\
                <mybox :child-msg="message"></mybox> \
                <div> \
                    <div style="border-bottom: 1px solid lightgrey;margin: 10px 0 10px 0">\
                         <h3 style="margin: 10px 0 10px 0">个人信息</h3>\
                      </div>\
                      <div class="flew1" >\
                          <div class="flew2">\
                           <div id="crop-avatar" >\
                             <div class="avatar-view" title="Change Logo Picture" style="height:111px;width:125px;box-shadow:0 0 5px rgba(0,0,0,0);float:left">\
                                 <img class="img-reponsive " style="width: 100px;height: 100px;border-radius: 50%;" :src="message.nowhead" alt="" data-toggle="modal" data-target="#revise_head">\
                             </div>\
                             </div>&emsp;<span class="" style="font-size: 24px">{{message.nowuname}}</span></div>\
                                      <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default" data-toggle="modal" data-target="#nickname">更改昵称</button></div>\
                                  </div>\
                              </div>\
                                 <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 0 0 10px 0;border-top: 1px solid lightgrey" v-if="message.nowidentification == 1">\
                                     <div class="flew2"><li class="img" style="background-position:-209px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">实名认证<span style="color: red;font-size: 12px">未认证</span></h4><p style="margin-left: 20px;color: lightgrey">实名认证，提升个人账户安全</p></div>\
                                     <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default" data-toggle="modal" data-target="#myID">立即认证</button></div>\
                                 </div>\
                                 <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 0 0 10px 0;border-top: 1px solid lightgrey" v-if="message.nowidentification == 0">\
                                     <div class="flew2"><li class="img" style="background-position:-209px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">实名认证<span style="color: red;font-size: 12px">已认证</span></h4><p style="margin-left: 20px;color: lightgrey">实名认证，提升个人账户安全</p></div>\
                                     <div class="flew2" style="text-align: right;align-self: center"><span>已认证成功<span></div>\
                                 </div>\
                                  <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 10px 0 10px 0;"  v-if="message.nowcell != nocell ">\
                                         <div class="flew2"><li class="img" style="background-position:-235px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">手机号<span style="color: red;font-size: 12px">已绑定</span>(<span style="color:red">{{message.nowcell}}</span>)</h4><p style="margin-left: 20px;color: lightgrey">手机号用于登录账号，重置密码或其它安全验证</p></div>\
                                         <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default" data-toggle="modal" data-target="#myphone">更改号码</button></div>\
                                 </div>\
                                 <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 10px 0 10px 0;"  v-if="message.nowcell == nocell ">\
                                        <div class="flew2"><li class="img" style="background-position:-235px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">手机号<span style="color: red;font-size: 12px">未绑定</span></h4><p style="margin-left: 20px;color: lightgrey">手机号用于登录账号，重置密码或其它安全验证</p></div>\
                                        <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default" data-toggle="modal" data-target="#binding_phone">绑定手机</button></div>\
                                 </div>\
                                 <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 10px 0 10px 0;">\
                                     <div class="flew2"><li class="img" style="background-position:-263px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">登录密码</h4><p style="margin-left: 20px;color: lightgrey">用于保护账号信息和登录安全</p></div>\
                                     <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default"  data-toggle="modal" data-target="#mychange">更换密码</button></div>\
                                 </div>\
                                 <div class="flew1" style="border-bottom: 1px solid lightgrey;margin: 10px 0 10px 0;">\
                                     <div class="flew2"><li class="img" style="background-position:-178px 0;float:left;"></li><h4 style="display:inline-block;line-height: 40px">收货地址</h4><p style="margin-left: 20px;color: lightgrey">用于用户收货方便</p></div>\
                                     <div class="flew2" style="text-align: right;align-self: center"><button class="btn btn-default" @click="address()">更改地址</button></div>\
                                 </div>\
                              </div>\
                           </div>',
            data:function () {
                return{
                    message:[],
                    nocell:''
                }
            },
            created:function () {
                this.init();
            },
            methods:{
//                默认
                init:function () {
//                console.log('123');
                    var _this = this ;
                    $.ajax({
                        type:'post',
                        data:{'user':$.cookie('user')},
                        url:"{:url('index/personal/getMessage')}",
                        dataType:'json',
                        success:function (res) {
//                            console.log(res)
                            _this.message =res;
//                            console.log(res);
                        },error:function (res){

                        }

                    })
                },
//             收货地址显示
                address:function () {
                  window.location.href="{:url('index/Personal/address_show')}";
                }
            }
        }
    )

    var vueObj=new Vue();
    Vue.component('mybox',{
        template:'\
<div>\
     <div class="modal fade" id="nickname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">\
         <div class="modal-dialog" style="width: 30%">\
             <div class="modal-content">\
                 <div class="modal-header">\
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                     <h4 class="modal-title" id="myModalLabel">输入新昵称</h4>\
                 </div>\
                 <div class="form-group flew3 ">\
                     <input  type="text" class="form-control " id="name"  style="width: 40%" placeholder="新昵称" >\
                 </div>\
                 <div class="modal-footer">\
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
                     <button type="button" class="btn btn-primary" v-on:click="name">提交更改</button>\
                 </div>\
             </div>\
         </div>\
     </div>\
     <div class="modal fade" id="myphone" tabindex="-1" role="dialog"  aria-hidden="true">\
      <div class="modal-dialog">\
          <div class="modal-content">\
              <div class="modal-header">\
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                  <h4 class="modal-title" >解除绑定</h4>\
              </div>\
              <div class="modal-body">点击发送短信按钮，将会发送一条有验证码的短信至手机<span style="color:red">{{childMsg.nowcell}}</span></div>\
              验证码\
                  <input  type="text" class="form-control"  id="code" style="width: 40%" placeholder="输入验证码">\
                  <input class="button button-rounded button-small "  type="button" value="获取验证码"\
                         @click="required_code($event)" >\
              <div class="modal-footer">\
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
                  <button type="button" class="btn btn-primary" @click="unbundling()">提交更改</button>\
              </div>\
          </div>\
      </div>\
  </div>\
  <div class="modal fade" id="mybinding" tabindex="-1" role="dialog"  aria-hidden="true">\
         <div class="modal-dialog">\
             <div class="modal-content">\
                 <div class="modal-header">\
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                     <h4 class="modal-title" >绑定号码</h4>\
                 </div>\
                 <div class="modal-body">点击发送短信按钮，将会发送一条有验证码的短信至手机</div>\
                 手机号\
                 <input type="text" class="form-control" id="phone" style="width: 40%" placeholder="手机号">\
                 验证码\
                 <input  type="text" class="form-control"  id="binding_code" style="width: 40%" placeholder="输入验证码">\
                 <input class="button button-rounded button-small "  type="button" value="获取验证码"\
                                    @click="binding_code($event)" >\
                 <div class="modal-footer">\
                     <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
                     <button type="button" class="btn btn-primary" @click="binding()">提交更改</button>\
                 </div>\
             </div>\
         </div>\
  </div>\
  <div class="modal fade" id="mychange" tabindex="-1" role="dialog"  aria-hidden="true">\
        <div class="modal-dialog">\
        <div class="modal-content">\
        <div class="modal-header">\
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
         <h4 class="modal-title" >更改密码</h4>\
        </div>\
        <div class="modal-body">点击发送短信按钮，将会发送一条有验证码的短信至手机<span style="color:red">{{childMsg.nowcell}}</span></div>\
         验证码\
        <input  type="text" class="form-control"  id="chang_code" style="width:40%" placeholder="输入验证码">\
        <input class="button button-rounded button-small" type="button" value="获取验证码" @click="chang_code($event)">\
        <div class="modal-footer">\
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
        <button type="button" class="btn btn-primary" @click="judge_code()">提交更改</button>\
        </div>\
        </div>\
        </div>\
   </div>\
   <div class="modal fade" id="set_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">\
        <div class="modal-dialog" style="width: 50%">\
            <div class="modal-content">\
                <div class="modal-header">\
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                <h4 class="modal-title" id="myModalLabel">设置新密码</h4>\
                </div>\
                 新密码\
                <input  type="password" class="form-control"  id="new_password" style="width: 40%" placeholder="输入新密码">\
                再输入新密码\
                <input  type="password" class="form-control"  id="stay_password" style="width: 40%" placeholder="再次输入新密码">\
                <div class="modal-footer">\
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
                <button type="button" class="btn btn-primary" @click="submit_password()">提交更改</button>\
                </div>\
            </div>\
        </div>\
   </div>\
   <div class="modal fade" id="binding_phone" tabindex="-1" role="dialog"  aria-hidden="true">\
        <div class="modal-dialog">\
            <div class="modal-content">\
                <div class="modal-header">\
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                <h4 class="modal-title" >绑定号码</h4> </div>\
                 <p>手机号</p>\
                <input  type="text" class="form-control"  id="new_phone" style="width:40%" placeholder="请输入手机号">\
                <p>验证码</p>\
                <input  type="text" class="form-control"  id="new_code" style="width:40%" placeholder="输入验证码">\
                <input class="button button-rounded button-small" type="button" value="获取验证码" @click="bindingCode($event)">\
                <div class="modal-footer">\
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>\
                <button type="button" class="btn btn-primary" @click="judge_binding()">提交绑定</button>\
                </div>\
            </div>\
        </div>\
    </div>\
</div>',
        data:function () {
           return {
                flag:false
            }
        },
        props: ['childMsg'],
        methods:{
//            修改昵称
            name:function () {
                $name = $("#name").val();

                $.ajax({
                    type:'post',
                    data:{'name':$name},
                    url:"{:url('index/personal/nickname')}",
                    dataType:'json',
                    success:function (res) {

                        if(res.code==1001)
                        {
                            alert(res.msg);
                            parent.location.reload();
                        }else
                        {
                            alert(res.msg);
                        }
                    },error:function (res) {

                    }

                })
            },
//          获取解绑手机的验证码
            required_code:function (myevent) {

                    //验证码按钮事件

                    $(myevent.target).attr("disabled","disabled");
                    var time = 60;
                    var set=setInterval(function(){
                        $(myevent.target).val(--time);
                    }, 1000);
                    setTimeout(function(){
                        $(myevent.target).attr("disabled",false).val("获取验证码");
                        clearInterval(set);
                    }, 60000);

                    $.ajax({
                        type:'post',
                        data:{},
                        url:"{:url('index/personal/required_code')}",
                        dataType:'text',
                        success:function (res) {
//                            console.log(res)
                        },error:function (res) {
                            //                            console.log(res)
                        }
                    })
            },
//          发送解绑请求
            unbundling:function () {
                var _this=this;
                //解绑短信验证码
                $code = $("#code").val();
                if($code=="")
                {
                    alert('验证码请填写完毕');
                }else
                {
                    $.ajax({
                        type:'post',
                        data:{'code':$code},
                        url:"{:url('index/personal/unbundling')}",
                        dataType:'json',
                        success:function (res) {
                            // 成功解绑
                            if(res.code ==1001)
                            {
                                alert(res.msg);
                                // 解绑框消失
                                $('#myphone').modal('hide');
                                //绑定框显示
                                $('#myphone').on('hidden.bs.modal', function () {
                                    $('#mybinding').modal('show');
                                })

                                /*$('#myphone').modal('hide');
                                $('#myphone').on('hide.bs.modal', function () {
                                    $('#mybinding').modal('show');});*/
                                /* //解绑手机框消失
                                 $('#myphone').modal('hide');
                                 //绑定手机框显示
                                     $('#myphone').on('hidden.bs.modal', function () {
                                         $('#mybinding').model('show');})
 //                                $(function () { $('#myphone').on('hide.bs.modal', function () {
 //                                    alert('嘿，我听说您喜欢模态框...');})
 //                                });*/
                            }else
                            {
                                alert(res.msg);
                            }
                        },error:function (res) {
//                            console.log(res)
                        }

                    })
                }
            },
//         发送给绑定手机号验证码
            binding_code:function (myevent) {
                $code  = $("#binding_code").val();
      //        判断手机号是否输入
                $phone = $("#phone").val();

                if ( $phone == "")
                {
                    alert('手机号不能为空')
                }
                else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($phone)))
                {
                    alert('手机号码不合法,请输入完毕')
                }else {
                    $(myevent.target).attr("disabled", "disabled");
                    var time = 60;
                    var set = setInterval(function () {
                        $(myevent.target).val(--time);
                    }, 1000);
                    setTimeout(function () {
                        $(myevent.target).attr("disabled", false).val("获取验证码");
                        clearInterval(set);
                    }, 60000);

                    $.ajax({
                        type:'post',
                        url:"{:url('index/Personal/binding_code')}",
                        data:{'phone':$phone,'code':$code},
                        dataType:'json',
                        success:function (res) {
                            if (res.code==1001)
                            {
                                alert(res.msg);
                            }
                        },error:function (res) {

                        }
                    })

                }
           },
//         绑定新号码
            binding:function (myevent) {
                $code  = $("#binding_code").val();
                //        判断手机号是否输入
                $phone = $("#phone").val();
                if ($code =="" || $phone=="")
                {
                    alert('手机号与验证码，不能为空');
                }
                else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($phone)))
                {
                    alert('手机号码不合法,请输入完毕')
                }
                else {

                    $.ajax({
                        type:'post',
                        url:"{:url('index/Personal/binding')}",
                        data:{'phone':$phone,'code':$code},
                        dataType:'json',
                        success:function (res) {
                            if(res.code == 1001)
                            {
                                alert(res.msg);
                                window.location.reload();
                            }else
                            {
                                alert(res.msg)
                            }
//                            console.log(res)
                        },error:function (res) {

                        }
                    })

                }
            },
//         获取更改密码验证码
            chang_code:function(myevent) {
                $(myevent.target).attr("disabled", "disabled");
                var time = 60;
                var set = setInterval(function () {
                    $(myevent.target).val(--time);
                }, 1000);
                setTimeout(function () {
                    $(myevent.target).attr("disabled", false).val("获取验证码");
                    clearInterval(set);
                }, 60000);


                $.ajax({
                    type:'post',
                    url:"{:url('index/Personal/password_code')}",
                    data:{},
                    dataType:'text',
                    success:function(res)
                    {
//                     console.log(res)
                    },error:function (res) {

                    }

                })
            },
//         判断更改密码验证码是否一致
            judge_code:function() {
                $code  = $("#chang_code").val();
                if($code == "")
                {
                    alert("验证码不能为空")
                }else
                {
                    $.ajax({
                        type:'post',
                        url:"{:url('index/Personal/judge_code')}",
                        data:{'code':$code},
                        dataType:'json',
                        success:function (res) {
//                            console.log(res)
                            if (res.code==1001)
                            {
                                alert(res.msg);
                                $('#mychange').modal('hide');

                                $('#mychange').on('hidden.bs.modal', function () {
                                    $('#set_password').modal('show');
                                })
                            }else
                            {
                                alert(res.msg);
                            }
                        },error:function (res)
                        {

                        }
                    })
                }
            },
//           输入密码是否合法
            submit_password:function () {
                //新密码
                $new_password = $("#new_password").val();
                //再次输入的密码
                $stay_password = $("#stay_password").val();

//                正则验证需要满足1、密码必须由数字、字符、特殊字符三种中的两种组成；
//                                2、密码长度不能少于8个字符；
                if ($new_password !="")
                {
                    if(/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{6,}/.test($new_password)){

                        if($new_password == $stay_password && $stay_password !="")
                        {
                            $.ajax({
                                type:'post',
                                url:"{:url('index/Personal/new_password')}",
                                data:{'password':$new_password},
                                dataType:'json',
                                success:function (res) {
//                                    console.log(res)
                                    if(res.code==1001)
                                    {
                                        alert(res.msg);
                                        window.location.reload();
                                    }
                                },error:function (res) {
                                    alert(res.msg);
                                }
                            })
                        }else
                        {
                            alert('两组密码不相同，请重新输入');
                        }
                    }else
                    {
                        alert('密码必须由数字、字符、特殊字符三种中的两种组成，且不能小于6位数');
                    }
                }else
                {
                    alert('密码不能为空');
                }


            },
//           获取首次绑定手机号的验证码
            bindingCode:function(myevent) {
                $code  = $("#new_code").val();
                //        判断手机号是否输入
                $phone = $("#new_phone").val();
                if ( $phone=="")
                {
                    alert('手机号不能为空');
                }
                else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($phone)))
                {
                    alert('手机号码不合法,请输入完毕');
                }else {

                    $.ajax({
                        type:'post',
                        url:"{:url('index/Personal/new_binding_code')}",
                        data:{'phone':$phone,'code':$code},
                        dataType:'json',
                        success:function (res) {
                            // console.log(res)
                            if (res.code==1001)
                            {
                                $(myevent.target).attr("disabled", "disabled");
                                var time = 60;
                                var set = setInterval(function () {
                                    $(myevent.target).val(--time);
                                }, 1000);
                                setTimeout(function () {
                                    $(myevent.target).attr("disabled", false).val("");
                                    clearInterval(set);
                                }, 60000);
                                // alert(res.msg);
                            }else
                            {
                                alert(res.msg)
                            }

                        },error:function (res) {

                        }
                    })

                }
            },
//          绑定首次手机号
            judge_binding:function()
            {
                $code  = $("#new_code").val();
                //        判断手机号是否输入
                $phone = $("#new_phone").val();
                if ( $phone=="" || $code == "")
                {
                    alert('手机号与验证码，不能为空');
                }
                else if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($phone)))
                {
                    alert('手机号码不合法,请输入完毕');
                }else {

                    $.ajax({
                        type:'post',
                        url:"{:url('index/Personal/new_binding')}",
                        data:{'phone':$phone,'code':$code},
                        dataType:'json',
                        success:function (res) {
                            // console.log(res)
                            if (res.code==1001)
                            {
                                alert(res.msg);
                                window.location.reload();
                            }else
                            {
                                alert(res.msg)
                            }

                        },error:function (res) {

                        }
                    })

                }
            }
        }
    })
    new Vue({
        el:'#box'
    })


    new Vue({
        el:'#messageData'
    });
</script>
<!--身份认证-->
<script>
    function readFile(fileDom){
        var img_area = document.getElementsByClassName("image");
        var input = document.getElementsByClassName("input");
        var result= document.getElementsByClassName("result");
        var index=fileDom.getAttribute('index');
        if ( typeof(FileReader) === 'undefined' ){
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
            //把disabled属性设定为disabled。
            input[index].setAttribute('disabled','disabled');

        }else{
            //addEventListener（指定事件名，指定要事件触发时执行的函数，事件句柄在冒泡阶段执行）
            //input[index].addEventListener('change',readFile,false);
            console.log(fileDom.files);
            var file = fileDom.files[0];
            //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
            if(!/image\/\w+/.test(file.type)){
                alert("请确保文件为图像类型");
                return false;
            }
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e){
                result[index].value = this.result;
                img_area[index].src=this.result;
            }
        }
    }
    $('#submit').click(function(){

        //验证码按钮事件
        $(this).attr("disabled","disabled");
        var time = 60;
        var set=setInterval(function(){
            $(this).val(--time);
        }, 1000);
        setTimeout(function(){
            $(this).attr("disabled",false).val("获取验证码");
            clearInterval(set);
        }, 20000);

        var image1=$('.result').eq(0).val();
        var image2=$('.result').eq(1).val();
        $.ajax({
            type:'post',
            url:"{:url('home/Index/changeBase64')}",
            data:{image1:encodeURIComponent(image1),image2:encodeURIComponent(image2)},
            dataType:'json',
            success:function(res){

                console.log(res)
                if (res.code==5001)
                {
                    alert(res.msg);
                    window.location.reload();
                }else
                {
                    alert(res.msg);
                    window.location.reload();
                }
                console.log(res)
            },
            error:function(res){
//                console.log(res);
            }
        });
    });
</script>
<script>
    //iframe 自适应
    $(window.parent.document).find("#iframeId").load(function () {
        var main = $(window.parent.document).find("#iframeId");
        var thisheight = $(document).height()+500 ;
        main.height(thisheight);
    });
</script>
</html>